.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: var(--store-bg-color);
  width: fit-content;
  min-width: 100%;
  height: auto;
  background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181a21 100%) fixed no-repeat,
    url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg) center top
      no-repeat,
    #181a21;
}

.container {
  display: flex;
  flex-direction: row;

  padding: 3.2rem calc((100% - var(--content-size) - var(--sidebar-width) * 2) / 2);
}

.content {
  flex: 1;

  min-height: 100vh;
  height: auto;

  background-color: transparent;
  margin: 0 var(--sidebar-width);
}

@media (min-width: 740px) and (max-width: 1023px) {
  .content {
    margin: 0;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240vh;
  }

  .container {
    padding: 0;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    justify-content: flex-start;
  }
}
@media (max-width: 739px) {
  .content {
    margin: 0;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240vh;
  }

  .container {
    padding: 0;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    justify-content: flex-start;
  }
}
