.wrapper {
  height: var(--header-height);
  background-color: var(--header-background-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
}

.container {
  width: var(--content-size);
  background-color: var(--header-background-color);
  display: flex;
  // flex: 3;
}

.header-logo {
  flex: 2;
  img {
    width: 100%;
    height: 100%;
  }
}

.header-navbar {
  flex: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-item {
  background-color: transparent;
  text-transform: uppercase;
  flex: 1;

  a {
    display: block;
    text-align: center;
    line-height: var(--header-height);
    width: 100%;
    color: var(--white);
    opacity: 1;
    font-weight: 600;
    font-size: 1.6rem;

    &:hover {
      background: linear-gradient(90deg, #06bfff 0%, #2d73ff 100%);

      opacity: 0.9;
      cursor: pointer;
      animation: 2s;
    }
  }
}

.action-menu-container {
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.action-menu-button {
  padding: 0.4rem 1rem !important;
  height: 32px;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.action-menu-item {
  margin: 0;
}

.user-info {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: block;
  height: 48px;
  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
}

.user-name {
  flex: 1;
  position: relative;
  a {
    display: block;
    color: var(--white);
    line-height: 48px;
    text-align: center;
    font-size: 1.4rem;

    &:hover {
      margin: 0;
      text-decoration: underline;
    }
  }
}

// nav-bar
.iconNav {
  color: white;
}
.nar-bar {
  display: none;

  width: var(--content-size);
  display: flex;
  align-content: center;

  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}
.nar-bar-container {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #f0f8ff29;
  border-radius: 4px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;

  .iconNav {
    font-size: 36px;
    display: flex;
  }
}
.nar-bar-container-right {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #f0f8ff29;
  border-radius: 4px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;

  .iconUser {
    font-size: 36px;
    display: flex;
    color: white;
  }
}
.drawer {
  background-color: #171a21 !important;
  height: 100% !important;
  width: 70% !important;
}
@media (min-width: 1240px) {
  .nar-bar {
    display: none;
  }
}
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .container {
    width: var(--content-size-medium);
  }

  .avatar {
    height: 40px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .nar-bar {
    display: none;
  }
}

/* Tablet - PC low resolution */

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: var(--content-size-small);
  }

  .avatar {
    height: 32px;
    img {
      width: 32px;
      height: 32px;
    }
  }
  .container {
    display: none;
  }
  .nar-bar {
    display: flex;
    label {
      height: 100% !important;
    }
  }
  .header-logo {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    img {
      width: 280px;
      height: 100%;
    }
  }
  .wrapper {
    zoom: 3;
    height: 10rem;
  }
}
/* Tablet < */
@media (max-width: 739px) {
  .container {
    width: var(--content-size-small);
  }

  .avatar {
    height: 32px;
    img {
      width: 32px;
      height: 32px;
    }
  }
  .container {
    display: none;
  }
  .nar-bar {
    display: flex;
    label {
      height: 100% !important;
    }
  }
  .header-logo {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    img {
      width: 280px;
      height: 100%;
    }
  }
  .wrapper {
    zoom: 1.6;
    height: 10rem;
  }
}
