.wrapper {
  width: 100%;
  min-height: auto;
}

.header-title {
  width: 25%;
  padding: 0.5rem 0;
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px groove var(--white);
}

.container {
  display: flex;
  flex-direction: row;
}

.minimum-requirement,
.recommended-requirement {
  height: auto;
  flex: 1;

  ul {
    li {
      color: #66c0f4;
      font-size: 1.4rem;
      text-align: justify;

      strong {
        color: white;
        font-weight: 500;
      }
    }

    .title {
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      padding: 0.5rem 0;
    }
  }
}

.minimum-requirement {
  ul {
    margin-right: 2rem;
  }
}

.recommended-requirement {
  ul {
    margin-left: 2rem;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .wrapper {
    border-bottom: solid 4rem #162330;
    margin-top: 2rem;
    zoom: 2;
  }
  .container {
    flex-direction: column;
  }
  .list {
    margin-left: 2rem;
    li {
      strong {
        color: #67c1f5 !important;
      }
      zoom: 2;
    }
  }
  .header-title {
    font-weight: 700;
    width: 60%;
    zoom: 2;
  }
}
@media (max-width: 739px) {
  .wrapper {
    border-bottom: solid 4rem #162330;
    margin-top: 2rem;
  }
  .container {
    flex-direction: column;
  }
  .list {
    margin-left: 2rem;
    zoom: 2;
    margin-right: 2rem;
    li {
      strong {
        color: #67c1f5 !important;
      }
      zoom: 2;
    }
  }
  .header-title {
    font-weight: 700;
    width: 60%;
    zoom: 2;
  }
}
