.container-slider {
  // width: 100%;

  margin: 2rem auto 0;
  position: relative;
  // overflow: hidden;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 3rem rem 0;
  margin-top: 6rem;
  /* background-color: var(--form-bg-color); */
  margin-top: 2rem;
  width: 80%;
  /* padding: 0 2rem; */
  padding-bottom: 4rem;
  margin: 10%;
  background: -webkit-linear-gradient(top, rgb(42, 71, 94) 5%, rgba(42, 71, 94, 0) 300%);
  box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
}
.container-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: white;
  background-color: var(--form-bg-color);
  h4 {
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
  }
}
.slide {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product {
  font-weight: 400;
  font-size: 2rem;
}

.active-anim {
  display: none;
}

.detail-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  font-family: 'Motiva Sans', Sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  background: linear-gradient(90deg, #06bfff 0%, #2d73ff 100%);
  border-radius: 3px;
  width: 260px;
  margin: 0 2rem;
}
.detail-link:hover {
  background: linear-gradient(90deg, #06bfff 30%, #2d73ff 100%);
}
@media (min-width: 740px) and (max-width: 1023px) {
  .container-content {
    zoom: 1.8;
    padding: 0 3rem;
  }
  .container-slider {
    width: 1000px;
    zoom: 1.2;
    /* overflow-x: scroll; */
    display: flex;
    /* overflow-y: hidden; */
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .active-anim {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .slide {
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin-left: 114rem; */
    /* margin-right: 17rem; */
    align-items: center;
    zoom: 2;
    margin: 2rem 0;
  }
  .product {
    margin-right: 2rem;
  }
  .product-detai {
    bottom: 0;
  }
  .container {
    zoom: 2;
    margin: 0;
    width: 100%;
    background: transparent;
  }
  .detail-link {
    width: 100%;
  }
  .dot {
    display: none;
  }
}
@media (max-width: 739px) {
  .btn-slide {
    display: none;
  }
  .container-content {
    zoom: 1.8;
    padding: 0 3rem;
  }
  .container-slider {
    width: 1000px;
    zoom: 1.2;
    /* overflow-x: scroll; */
    display: flex;
    /* overflow-y: hidden; */
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .active-anim {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .slide {
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin-left: 114rem; */
    /* margin-right: 17rem; */
    align-items: center;
    zoom: 2;
    margin: 1.4rem 0;
  }
  .product {
    margin-right: 2rem;
  }
  .product-detai {
    bottom: 0;
  }
  .detail-link {
    width: 100%;
  }
  .container {
    margin: 0;
    width: 100%;
    background: transparent;
  }
  .dot {
    display: none;
  }
}
