.wrapper {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  display: grid;
  grid-template-areas:
    "top-bar"
    "main-view"
    "footer";
  // grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
  background-image: var(--store-bg-color);
}

.container {
  grid-area: main-view;
  display: flex;
  flex-direction: row;
  padding: 3.2rem
    calc((100% - var(--content-size) - var(--sidebar-width) * 2) / 2);
}

.content {
  flex: 1;
  height: auto;
  min-height: 550px;
  background-color: transparent;
  margin-right: var(--sidebar-width);
}
.header {
  grid-area: top-bar;
}
.footer {
  grid-area: footer;
  bottom: 0;
}
.siderbar {
  display: block;
  z-index: 100;
}
