.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100%;
  height: auto;
  background-image: url(https://preview.redd.it/2022-fall-sales-background-artist-v0-hh41ngbjis1a1.jpg?width=2250&format=pjpg&auto=webp&s=37a9d0ea81d7cd4627e4558a8f1361348a1e53e6);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3.2rem calc((100% - var(--content-size) - var(--sidebar-width) * 2) / 2);
}

.content {
  flex: 1;

  min-height: 100vh;
  height: auto;

  background-color: transparent;
  margin: 0 var(--sidebar-width);
}

@media (min-width: 740px) and (max-width: 1023px) {
  .content {
    margin: 0;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 380vh;
    align-items: center;
    justify-content: center;
  }

  .container {
    padding: 0;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    justify-content: flex-start;
  }
}
@media (max-width: 739px) {
  .wrapper {
    min-height: 282rem;
  }
  .content {
    margin: 0;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 280vh;
    align-items: center;
    justify-content: center;
  }

  .container {
    padding: 0;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    justify-content: flex-start;
  }
}
