//
.wrapper {
  display: flex;
}

//list

.wrapper-list {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80%;
  overflow: hidden;
  background: -webkit-linear-gradient(top, rgba(42, 71, 94, 1) 5%, rgba(42, 71, 94, 0) 300%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  zoom: 1.6;

  margin-top: 5rem;
  zoom: 1;
  padding: 2rem 3rem;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 90rem;
}

.header {
  height: 5rem;
  background-color: var(--form-bg-color);
  padding-left: 2rem;
  margin-bottom: 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  h2 {
    font-size: 2rem;
    line-height: 5rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
  }
}

.content {
  flex: 2;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.footer {
  height: 3rem;
  background-color: var(--form-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.prev-button,
.next-button {
  height: 100%;
  width: 4rem;
  background: var(--gray);
  border-radius: 3px;

  user-select: none;

  svg {
    font-size: 1.8rem;
    // color: var(--white);
  }
}
.prev-button {
  margin-left: 0rem;
}
.next-button {
  margin-right: 0rem;
}

.product {
  height: 390px;
  box-shadow: 0 0 5px #000000;
  margin: 4rem 1rem;
  zoom: 0.98;
}
.product-img img {
  height: 306px;
  width: 300px;
  opacity: 0.9;
  object-fit: cover;
}
.product-img img:hover {
  transition: all 0.2s;
  opacity: 2;
}

.active-anim {
  display: none;
}
.product-detai {
  padding: 8px 16px 34px 16px;
  color: #9099a1;
  font-size: 12px;
  position: relative;
  bottom: 55px;
  width: 270px;
  background-size: cover !important;
  height: 30%;
  background: url(https://store.cloudflare.steamstatic.com/public/images/v6/home/background_spotlight.jpg) bottom center
    no-repeat;
}
.item-wrapper {
  display: flex;
  flex-direction: row;

  line-height: 8rem;
  margin-right: 1.5rem;

  background-color: #131e28;
  color: var(--white);
}

.active {
  margin-right: 0;

  background-color: #95bbd4;
  color: var(--black);
}

.item-img {
  height: 8rem;
  width: 16rem;
  outline: 0;
  object-fit: cover;
}

.item-detail {
  display: flex;
  flex: 4;
  align-items: center;
  flex-direction: row;
  padding: 0 2rem;
  justify-content: space-between;
  p {
    font-size: 1.4rem;
    text-align: left;
    color: var(--white);
  }
}

.item-content {
  display: flex;
  flex-direction: column;
}

.item-title {
  font-size: 1.6rem;
  font-weight: 600;
  width: 40rem;
}

.item-category {
  font-size: 1.2rem;
  opacity: 0.75;
}

.review {
  flex: 1;
  background-color: #95bbd4;
  max-height: 84rem;
  margin-top: 8px;
  overflow: hidden;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
  align-items: center;

  color: var(--black);
}

.review-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.category-items {
  display: flex;
}

.category-item {
  margin-right: 0.5rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--white);
  background: #506577;
}

.review-gallery {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
  align-items: center;
  padding: 0 2rem;
}

.review-img {
  margin-top: 1rem;
  width: 32rem;
  height: 16rem;
  object-fit: cover;
  zoom: 0.9;
}

.not-found {
  height: 12rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
  }
}

.detail-wrapper {
  // position: absolute;
  // position: absolute;
  // visibility: hidden;

  transition: 0.6s;
  top: 100%;
  left: 0;
  right: 0;
  height: 38%;
  width: 100%;
  margin-left: -1.2rem;

  transition: top 0.6s, opacity 0.5s;
}
.detail-link {
  display: block;
  // width: 100%;
  margin-left: 2rem;
  height: 100%;
  color: var(--white);
}
.detail-content {
  .title {
    font-size: 2.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: -1.2rem;
  }
}

.category-items {
  display: flex;
}
.category-data {
  margin-right: 1rem;
  padding: 0 1rem;
  width: max-content;
  font-size: 1.2rem;
  color: var(--white);
  background: #3d454c;
  margin: 0.6rem 0.2rem;
  zoom: 1.4;
}
.category-datas {
  display: flex;
  margin-left: -1rem;
}
.category-item {
  margin-right: 1rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--white);
  background: #3d454c;
}

.discount-prices {
  display: flex;
  background: -webkit-linear-gradient(315deg, #213c55 5%, #016968 95%);
  position: absolute;
  color: white;
  align-content: center;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  left: 2rem;
}
.discount-orginal-price {
  text-decoration: line-through;
  color: #738895;
  font-size: 1.6rem;
}

.discount-final-price {
  margin: 0;
  margin: 0;
  font-size: 2rem;
  color: #beee11;
}
.final-price {
  margin: 0;
  margin: 0;
  font-size: 2.4rem;
  color: #beee11;
}
.prices {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;

  justify-content: center;
}
.discount {
  margin: 0;
  height: 100%;
  padding: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  font-size: 3rem;
  width: 8rem;
  color: #beee11;
  background: #4c6b22;
  align-content: center;
  font-weight: 700;
  zoom: 0.7;
}
.discount-prices-r {
  display: flex;
  background: -webkit-linear-gradient(315deg, #213c55 5%, #016968 95%);
  position: absolute;

  color: white;
  align-content: center;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
}
//fills

.wrapper-fills {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 20%;
  font-family: 'Motiva Sans', Sans-serif;
  margin-right: 4rem;
  margin-top: 5rem;
}

//fill

.wrapper-fill {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: 8rem;
  margin-right: 3rem;

  background: -webkit-linear-gradient(top, rgba(42, 71, 94, 1) 5%, rgba(42, 71, 94, 0) 300%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.fill-content {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  p {
    color: #fff;
    zoom: 2.2;

    font-family: 'Motiva Sans', Sans-serif;
  }
  margin-bottom: 1rem;
}
.fill-name {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
}
.fill-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 3rem;
  padding-bottom: 2rem;

  flex-direction: column;
  input {
    zoom: 2;
  }
}
.fill-label {
  display: flex;
  margin: 0.4rem 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .wrapper-fill {
    display: none;
    width: 0;
  }
  .wrapper-fills {
    display: none;
    width: 0;
  }
  .wrapper-list {
    width: 100%;
    zoom: 2;
  }
  .product {
    zoom: 1.2;
  }
  .container {
    min-height: 160rem;
  }
  .review {
    display: none;
  }
  .item-img {
    height: 24rem;
    width: 32rem;
  }
  .product-item {
    height: 28rem;
    zoom: 1.2;
  }
  .item-wrapper {
    height: 24rem;
  }
  .active {
    // display: none;
    // background: #506577;

    // background-color: none;
    margin-right: 1.5rem;

    background-color: #131e28;
    color: var(--white);
  }
  .review-container {
    display: none;
  }
  .item-category {
    font-size: 2rem;
  }
  .item-title {
    font-size: 2.2rem;
  }
  .item-detail {
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .discount-final-price {
    font-size: 2.4rem;
  }
  .discount-orginal-price {
    font-size: 2rem;
  }
  .discount-prices {
    font-size: 2.4rem;
    margin-right: 1rem;
  }
  .header {
    zoom: 2;
    display: flex;
    align-content: center;
    align-items: center;
  }

  .final-price {
    font-size: 3rem;
  }
  .discount-prices {
    display: flex;
    background: -webkit-linear-gradient(315deg, #213c55 5%, #016968 95%);
    position: absolute;
    zoom: 0.9;
    color: white;
    align-content: center;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    left: 2rem;
  }
  .discount-orginal-price {
    text-decoration: line-through;
    color: #738895;
    font-size: 2rem;
  }

  .discount-final-price {
    margin: 0;
    margin: 0;
    font-size: 2.6rem;
    color: #beee11;
  }
  .prices {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;

    justify-content: center;
  }
  .discount {
    margin: 0;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-size: 3rem;
    width: 8rem;
    color: #beee11;
    background: #4c6b22;
    zoom: 1.4;
    align-content: center;
    font-weight: 700;
  }
  .content {
    justify-content: center;
    align-content: flex-start;
  }
}

@media (max-width: 739px) {
  .wrapper-fill {
    display: none;
    width: 0;
  }
  .content {
    justify-content: space-evenly;
  }
  .wrapper-fills {
    display: none;
    width: 0;
  }
  .wrapper-list {
    width: 100%;
  }
  .product {
    zoom: 1.6;
  }
  .container {
    min-height: 160rem;
  }
  .review {
    display: none;
  }
  .item-img {
    height: 24rem;
    width: 32rem;
  }
  .product-item {
    height: 28rem;
    zoom: 1.2;
  }
  .item-wrapper {
    height: 24rem;
  }
  .active {
    // display: none;
    // background: #506577;

    // background-color: none;
    margin-right: 1.5rem;

    background-color: #131e28;
    color: var(--white);
  }
  .review-container {
    display: none;
  }
  .item-category {
    font-size: 2rem;
  }
  .item-title {
    font-size: 2.2rem;
  }
  .item-detail {
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .discount {
    zoom: 1.2;
    font-size: 4rem;
  }
  .discount-final-price {
    font-size: 3.4rem;
  }
  .discount-orginal-price {
    font-size: 3rem;
  }
  .discount-prices {
    font-size: 3.4rem;
    margin-right: 1rem;
    zoom: 0.6;
  }
  .final-price {
    font-size: 4rem;
  }
  .header {
    zoom: 2;
    display: flex;
    align-content: center;
    align-items: center;
  }
  .item-wrapper {
    display: flex;
    .item-title {
      display: flex;
    }
    .item-content {
      display: flex;
    }
    .discount-prices {
      display: flex;
    }
    .prices {
    }
  }
}
