.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: url(https://cdn.akamai.steamstatic.com/store/promo/autumn2022/content_bg_tile2.png?v=4) repeat-y center
    top;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

  filter: drop-shadow(12px 12px 7px rgba(50, 3, 15, 0.5));
  margin-top: 12rem;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 90rem;
}

.header {
  // height: 5rem;
  // background-color: var(--form-bg-color);
  // padding-left: 2rem;
  // margin-bottom: 1rem;
  // border-top-left-radius: 4px;
  // border-top-right-radius: 4px;
  border-bottom: solid 2px burlywood;
  width: 80%;
  display: flex;

  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-bottom: 10px;
  font-family: 'Motiva Sans', Sans-serif;
  font-weight: 600;

  color: #ffffff;
  padding: 10px;
  margin-bottom: 3rem;
  margin-top: 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  justify-content: center;

  h2 {
    font-size: 2.4rem;
    line-height: 5rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 660;
  }
}

.content {
  flex: 2;
  height: auto;
}

.footer {
  height: 3rem;

  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-between;
  align-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.prev-button,
.next-button {
  height: 100%;
  width: 4rem;
  background: var(--gray);
  border-radius: 3px;

  user-select: none;

  svg {
    font-size: 1.8rem;
    // color: var(--white);
  }
}
.prev-button {
  margin-left: 0rem;
  margin-right: 100rem;
}
.next-button {
  margin-right: 0rem;
}

//Product item
.product-item {
  margin: 4rem 0rem;
  height: 16rem;
  background-color: transparent;
}
.product-item:hover .item-img {
  width: 16rem;
  transition: top 0.6s, opacity 0.5s;
}

.product-item:hover .item-wrapper {
  display: flex;
  .item-title {
    display: flex;
  }
  .item-content {
    display: flex;
  }
  .discount-prices {
    display: flex;
  }
  .prices {
    display: none;
  }
}
.item-wrapper {
  flex-direction: row;
  display: flex;
  line-height: 8rem;
  // margin-right: 1.5rem;
  margin: 4rem 0;
  // background-color: #131e28;
  background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
  color: var(--white);
  box-shadow: rgb(6 6 6) 3px 3px 6px 0px inset, rgb(8 8 8 / 50%) -3px -3px 6px 1px inset;
  height: 14rem;
  align-items: center;
  .item-title {
    display: none;
  }
  .item-content {
    display: none;
  }
  .discount-prices {
    display: none;
  }
}
.prices {
  display: flex;
  background: -webkit-linear-gradient(315deg, #213c55 5%, #016968 95%);
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  color: white;
  align-content: center;
  justify-content: center;
  align-items: center;

  .discount-final-price,
  .discount-orginal-price,
  .discount-orginal-price {
    padding: 1rem;
  }
  .discount {
    margin: 0;
    height: 100%;
    padding: 1rem;
  }
}
.img {
  position: relative;
}
.active {
  margin-right: 0;

  background-color: #95bbd4;
  color: var(--black);
}

.item-img {
  height: 16rem;
  width: 68rem;
  outline: 0;
  object-fit: cover;
  filter: drop-shadow(0px 0px 10px rgba(50, 3, 15, 0.4));
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  border-radius: 0.4rem;
}

.item-detail {
  display: flex;
  flex: 4;
  align-items: center;
  flex-direction: row;
  margin-left: 2rem;
  justify-content: space-around p {
    font-size: 1.4rem;
    text-align: left;
    color: var(--white);
  }
}

.item-content {
  display: flex;
  flex-direction: column;
  margin-right: -3rem;
}

.item-title {
  font-size: 2rem;
  font-weight: 600;
  width: 40rem;
}

.item-category {
  font-size: 1.6rem;
  opacity: 0.75;
}

.discount-prices {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  zoom: 1.4;
}

.discount-orginal-price {
  text-align: right;
  text-decoration: line-through;
  font-size: 1.2rem;
}

.discount-final-price {
  text-align: right;
  font-size: 1.4rem;
}
.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  font-size: 1.4rem;
  width: 2ren;
  background: #a1cd44;
  color: black;
  margin-bottom: 1rem;
  align-content: center;
  font-weight: 700;
}
// review
.review {
  flex: 2;
  // background-color: #95bbd4;
  max-height: 90rem;
  margin-top: 8px;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // justify-content: center;

  width: 100%;
  height: 100%;

  color: var(--white);
}

.review-title {
  margin-left: 8rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.category-items {
  display: flex;
  margin-left: 8rem;
}

.category-item {
  margin-right: 0.5rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--white);
  background: #506577;
}

.review-gallery {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 8rem;
}

.review-img {
  margin: 2rem 0;
  width: 32rem;
  height: 16rem;
  object-fit: cover;
}

.not-found {
  height: 12rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
  }
}

.loading {
  display: block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top: 3px solid var(--black);
  border-right: 3px solid var(--black);
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .wrapper {
    zoom: 1;
  }
  .container {
    min-height: 160rem;
  }
  .review {
    display: none;
  }
  .item-img {
    height: 24rem;
    width: 32rem;
  }
  .product-item {
    height: 28rem;
    zoom: 1.2;
  }
  .item-wrapper {
    height: 24rem;
  }
  .active {
    // display: none;
    // background: #506577;

    // background-color: none;
    margin-right: 1.5rem;

    background-color: #131e28;
    color: var(--white);
  }
  .review-container {
    display: none;
  }
  .item-category {
    font-size: 2rem;
  }
  .item-title {
    font-size: 2.2rem;
  }
  .item-detail {
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .discount-final-price {
    font-size: 2.4rem;
  }
  .discount-orginal-price {
    font-size: 2rem;
  }
  .discount-prices {
    font-size: 2.4rem;
    margin-right: 1rem;
  }
  .header {
    zoom: 2;
    display: flex;
    align-content: center;
    align-items: center;
  }
  .item-wrapper {
    display: flex;
    .item-title {
      display: flex;
    }
    .item-content {
      display: flex;
    }
    .discount-prices {
      display: flex;
    }
    .prices {
      display: none;
    }
  }
}

@media (max-width: 739px) {
  .container {
    min-height: 160rem;
  }
  .review {
    display: none;
  }
  .item-img {
    height: 24rem;
    width: 32rem;
  }
  .product-item {
    height: 28rem;
    zoom: 1.2;
  }
  .item-wrapper {
    height: 24rem;
  }
  .active {
    // display: none;
    // background: #506577;

    // background-color: none;
    margin-right: 1.5rem;

    background-color: #131e28;
    color: var(--white);
  }
  .review-container {
    display: none;
  }
  .item-category {
    font-size: 2rem;
  }
  .item-title {
    font-size: 2.2rem;
  }
  .item-detail {
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .discount-final-price {
    font-size: 2.4rem;
  }
  .discount-orginal-price {
    font-size: 2rem;
  }
  .discount-prices {
    font-size: 2.4rem;
    margin-right: 1rem;
  }
  .header {
    zoom: 2;
    display: flex;
    align-content: center;
    align-items: center;
  }
  .item-wrapper {
    display: flex;
    .item-title {
      display: flex;
    }
    .item-content {
      display: flex;
    }
    .discount-prices {
      display: flex;
    }
    .prices {
      display: none;
    }
  }
}
